<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.sorter.WatchFinishedDirectory</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>/Users/benjaminfeder/Programming/projects/Autodownloader/sorter.sh</string>
    </array>
    <key>QueueDirectories</key>
    <array>
        <string>/Users/benjaminfeder/Movies/Finished</string>
    </array>
    <key>WatchPaths</key>
    <array/>
    <key>StandardOutPath</key>
    <string>/Users/benjaminfeder/Movies/Autodownloader/logs/agentout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/benjaminfeder/Movies/Autodownloader/logs/agenterror.log</string>
</dict>
</plist>